<h1>Create a new figure!</h1>
<form action="/figures" method="post">
  <label for="figure_name">Figure Name: </label>
  <input type="text" id="figure_name" name="figure[name]">
  <br><br>

  <h3>Titles</h3>
  <%@titles.each do |title|%>
    <p><%=title.name%><input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"></p>
  <%end%>
  <br>
  <h3><label for="new_title">Create New Title: </label></h3>
  <input type="text" name="title[name]" id="new_title">

  <h3>Landmarks</h3>
  <%@landmarks.each do |landmark|%>
    <%=landmark.name%><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><br>
  <%end%>
  <h3>Create New Landmark:</h3>
  <label for="landmark_name">Name: </label><input type="text" name="landmark[name]" id="new_landmark">
  <label for="landmark_year">Year: </label><input type="text" name="landmark[year_completed]" id="landmark_year">

  <input type="submit" value="Create New Figure">
</form>
